/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

:root {
  --primary-color:#1c3112;
  --secondary-color:#0C4B41;
  --tertiary-color:#3CB371;
  --quaternary-color:#CBD5A9;
  --quinary-color:#29374D;
  --background-color: white;
  --text-color: black;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --primary-color:#301231;
    --secondary-color:#0c334b;
    --tertiary-color:#abb33c;
    --quaternary-color:#a9d5aa;
    --quinary-color:#4d2933; */
    --background-color: #1c1c1c;
    --text-color: white
  }
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}
section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 3rem 0;
}

.solidBackground {
  background-color: var(--background-color);
}

.homeBackground {
  height: 100%;
  width: 100vmax;
  background-size: cover;
  left: 50%;
  object-fit: cover;
  /* pointer-events: none; */
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  /* z-index: -1; */
}

.background {
  /* height: 100%;
  width: 100vmax; */
  /* max-height: 100%;
  width: 200%; */

  /* height: 100%;
  width: 100%; */

  /* min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: -3; */
  

  /* background-size: cover;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0); */


  background: url(images/background2.svg) repeat center center fixed; 
  /* z-index: -2; */
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  /* color: var(--quinary-color); */
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

.unbuttonize {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  cursor: pointer;
}

li {
  line-height: 1.7;
}

li::marker {
  color: var(--secondary-color);
}

a.header-link {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
a {
  color: var(--tertiary-color);
  text-decoration: none;
  transition: 0.4s;
}
/* mouse over link */
a.email {
  margin-left: 4px;
}
a.email:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
  text-decoration: none;
}
a:hover {
  color: var(--tertiary-color);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--quaternary-color);
}

.iconCert {
  color: var(--quaternary-color);
  height: 40px;
  width: 40px;
}

img.socialIcon {
  height: 24px;
  width: 24px;
}

img.copyIcon {
  padding: 3px 5px;
  height: 19px;
  width: 15px;
}

.iconChevron {
  color: var(--quaternary-color);
  height: 24px;
  width: 24px;
}

.iconOpenNewTab {
  height: 16px;
  width: 16px;
}

img.copyIcon:hover {
  border-radius: 50%;
  background-color: 	hsla(170, 72%, 17%, 0.5);
}

.aboutContainer {
  background-color: var(--background-color);
  width: 50%;
  padding: 4rem;
  margin: 3rem auto;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.copyTooltip {
  visibility: hidden;
  width: 100px;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .copyTooltip {
  visibility: visible;
}

.title-home {
  color: aliceblue;
  font-weight: 600;
}
.name-home {
  color: aliceblue;
}

.skills-container {
  text-align: "left";
  columns: 2;
  font-size: "1.25rem";
  margin: "2rem 3rem";
  gap: "3rem";
}

.text-detail {
  padding: "1rem 3rem 0"
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}

.container {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  padding: 24px 16px;
}

.box {
  width: calc(50% - 40px);
  border-radius: 3px;
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px auto;
  padding: 24px 16px;
  cursor: pointer;
}

.box:hover {
  border: 1px solid var(--tertiary-color);
  color: black;
  background-color: var(--quaternary-color);
}

.awardCardClosed {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  margin: 5px 20px;
  border: var(--secondary-color) 1px solid;
  border-radius: 4px;
  justify-content: space-between;
  max-height: 166px;
}

.awardCardOpened {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px;
  margin: 5px 20px;
  border-radius: 4px;
  border: var(--secondary-color) 1px solid;
  justify-content: space-between;
  overflow: hidden;
  animation: showcontent 4s ease-out;
}

@keyframes showcontent {
  0% {
    max-height: 166px;
  }
  20% {
    max-height: 85%;
  }
  40% {
    max-height: 90%;
  }
  60% {
    max-height: 95%;
  }
  80% {
    max-height: 99%;
  }
  100% {
    max-height: auto;
  }
}

.awardIconDate {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.btnIconTitle {
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnIconTitle:hover {
  cursor: pointer;
  border: 1px solid var(--tertiary-color);
  color: black;
  background-color: var(--quaternary-color);
}

.chevronUpOnSide {
  display: flex;
  align-content: start;
}

.myAwardsContent {
  background-color: transparent;
  width: 70%;
  padding: 2rem 4rem;
  margin: 3rem auto;
  text-align: center;
}

h2.awardTitle {
  padding: 0 10px;
  margin: 0 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.awardTitle {
  padding: 0 10px;
  margin: 0;
  color: var(--text-color);
}

.awardContent {
  width: auto;
  color: var(--text-color);
}

.awardList {
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

@media screen and (max-width: 992px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
  }

  .awardList {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .container {
    max-width: 100%;
  }

  .awardCardClosed {
    max-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: calc(100% - 1rem); /* One project per row on smaller screens */
  }
  .skills-container {
    text-align: "left";
    columns: 1;
    font-size: "1.25rem";
    margin: "2rem 3rem";
    gap: "3rem";
  }
  .text-detail {
    padding: "0";
    font-size: 15px;
  }
  p.large {
    font-size: 20px;
  }
  h1 {
    font-size: 56px;
    font-weight: 700;
  }
  .title-home {
    font-size: 36px;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 32px;
    font-weight: 800;
  }
  .title-home {
    font-size: 18px;
    font-weight: 600;
    max-width: 80%;
  }
  .aboutContainer {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
  }
  .myAwardsContent {
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
  }
}
